services:
    rasp-shutter:
        build:
            context: .
            dockerfile: Dockerfile
        tty: true
        stdin_open: true
        volumes:
            - ./data:/opt/rasp-shutter/data
        ports:
            - "5000:5000"
